* {
  margin: 0;
  padding: 0;
}

#map_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 3%;
}

#map {
  height: 400px;
  width: 50%;
}

body {
  background-image: url("https://images3.alphacoders.com/151/151005.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 99vw;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.input_container {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.input {
  width: 25vw;
  font-size: 1em;
  list-style: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  height: 30px;
  transition: 1s;
  -webkit-transition: 1s;
  border-color: #F2B663;
  border-radius: 50px;
}

input:focus {
  outline-color: #F2B663;
  box-shadow: 0 0 6pt 6pt #F2B663;
}

button:focus {
  outline-color: #F2B663;
  box-shadow: 0 0 3pt 3pt #F2B663;
}

.button {
  justify-content: center;
  border: none;
  color: #F2B663;
  width: 69px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  /*border-color: #F2B663;
  border-radius: 40%;*/
  -webkit-text-stroke: 1.2px black
}

.button_container {
  text-align: center;
  justify-content: center;
  padding: .8%;
  -webkit-text-stroke: 2px black;
}

a {
  text-decoration: underline #A97447;
  color: #A97447;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #F2B663;
  font-size: 4em;
  list-style: none;
  padding-top: 2.0%;
  -webkit-text-stroke: 2px black;
  position: center;
}

.footBar {
  position: absolute;
  bottom: 0;
  -webkit-text-stroke: 1px #F2B663;
  padding: 2%;
  text-align: center;
  margin-left: 20vw;
}

@media only screen and (min-width: 768px) {
  .footBar {
    position: absolute;
    bottom: 0;
    -webkit-text-stroke: 1px #F2B663;
    padding: 2%;
    margin-left: 41vw;
  }
}
