*{
  margin: 0;
  padding: 0;
}
#map_container{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 5%;



}
#map {
  height: 400px;
  width: 50%;
  border-radius: 7%;


}

body {
  background-image: url("https://images3.alphacoders.com/151/151005.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  width: 99vw;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;



  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 99vw;
  height: 100vh;*/


}

.input_container{

  display: flex;
  justify-content: center;
  padding: 1%;

}
.input{
  width: 20vw;
  font-size: 1em;
  list-style: none;
  text-align: center;
  background-color:rgba(0, 0, 0, 0);
   color: black;
   height:30px;
   transition:height 1s;
   -webkit-transition:height 1s;
   border-color: #F2B663;
   border-radius: 50px;
}

input:focus {
  outline-color: #F2B663;
}

button:focus {
  outline-color: #F2B663;
}


.button{
  color: #F2B663;
  border: 1px solid #f2b663;
  background-color: #f2b663;
  background-color:rgba(0, 0, 0, 0);
  border-color:#f2b663;
  font-size: 13px;
  border-radius: 40%;
  -webkit-text-stroke: 1px black;



}

.button_container {
text-align: center;
display:flex;
justify-content: center;
padding: .6%;
-webkit-text-stroke: 1px black;



}

a {
  text-decoration: none;
  color: black;

}
.header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #F2B663;
  font-size: 3em;
  list-style: none;
  padding-top: 2%;
  -webkit-text-stroke: 1px black;
  
}

.footBar {
position: fixed;
bottom: 0;
left: 40vw;
-webkit-text-stroke: 1px #F2B663;
padding: 2%;




}
